<style>
    .modal-backdrop {
        /* bug fix - no overlay */
        display: none;
    }
</style>
      

<div class="content">
    <h1>Ateliers</h1>
    <p>
        <b>Virtuellement, les ateliers font leur grand retour pour cette nouvelle édition 2020 !</b> Ouverts à tous, étudiants comme personnel de l’INSA, les ateliers offrent une aide pour mieux réussir et s’épanouir dans le milieu de l’entreprise. Ceux-ci sont limités à <b>15 places</b> donc n'attendez plus pour vous inscrire sur la plateforme <a href=https://app.seekube.com/forum-by-insa202010?pwd=insatoulouseprive&?utm_campaign=Action2&utm_medium=Ecoles&utm_source=Ecoles>Seekube</a> sur l'onglet dédié.
    </p> 
    <br/>
        <img class="bw" src="/images/atelier.jpg" style="width: 100%"/>
    <br/>
    <br/>
    <p>
        Ils sont proposés en partenariat avec l’<b>IAT</b> (INSA Alumni Toulouse), le <b>PPI</b> (Parcours Professionnel Individualisé) et la <b>JIS</b> (Junior INSA Services), une association bénévole fondée en 1982. La JIS vise à accroître et développer les compétences des étudiants de l'INSA en leur proposant de réaliser des études pour des entreprises. En plus d'accroître leurs compétences, les étudiants sont rémunérés et ont une expérience supplémentaire sur leur CV, qu'ils pourront mettre en avant pendant leurs entretiens. <br />
        Chaque atelier sera encadré afin de vous donner les clés pour réussir dans le monde professionnel que ce soit pour une demande de stage, pour un premier emploi ou encore la création d’une entreprise.
    </p>
    <br/>
    
    <div class="section">
        <h3>Thèmes</h3>
        <p>      
            Cette année les ateliers de l’édition 2020 du Forum by INSA se décomposent en deux grands thèmes :
        </p>

        <!--les ateliers sont rentrés "en dur" mais ce qui suit en commentaire permet d'afficher directement ceux qui sont renseignés dans la partie admin du site-->

        <table class="table table-hover" style="font-size:90%">
            <tr>
                <td style="border-top: none;" colspan="5"><br /><h4>Les clefs pour convaincre face aux recruteurs</h4></td>
            </tr>
            <tr>    
                <th>Toute la journée<br/>Créneaux de 20 min</th>
                <td>Atelier by PPI</td>
                <td><b>LinkedIn</b></td>
                <td><span class="btn red-button" id="details" onclick="$('#show-dialog1').modal();">Détails</span>
                
                    <div class="modal" id="show-dialog1">  
                        <div class="modal-details">
                        <div class="modal-section">
                            <h3>PPI : LinkedIn</h3>
                            <small style=color:#999">
                            <i class="fa fa-clock-o"></i> Toute la journée !! Pleins de créneaux de 3 étudians pendant 20min
                            </small>
                        </div>
                        <div class="modal-section">
                            <p>3 Thématiques :</p>
                            <p>•	Relecture de profil LinkedIn : L'agence 636 se propose de revoir votre profil LinkedIn pour maximiser vos chances de taper dans l'oeil d'un recruteur.</p>
                            <p>•	Boostez votre réseau : L'agence 636 se propose de voir avec vous les bonnes pratiques pour développer son réseau sur LinkedIn, contacter des recruteurs et trouver des opportunités !</p>
                            <p>•	Améliorez votre communication : L'agence 636 se propose de voir avec vous les bonnes pratiques pour communiquer sur LinkedIn et gagner ainsi en visibilité et crédibilité !</p>
                            </p>
                        </div>
                        <div style="text-align: center">Atelier <i>by</i> PPI</div>
                        <br />
                        </div>
                    </div>
                </td>
            </tr>

            <tr>    
                <th>9:00-10:00</th>
                <td>Atelier by IAT</td>
                <td><b>Bien mener son entretien d’embauche</b></td>
                <td><span class="btn red-button" id="details" onclick="$('#show-dialog2').modal();">Détails</span>
                
                    <div class="modal" id="show-dialog2">
                                           
                        <div class="modal-details">
                        <div class="modal-section">
                            <h3>IAT : Bien mener son entretien d’embauche</h3>
                            <small style=color:#999">
                            <i class="fa fa-clock-o"> 9:00-10:00</i></small>
                        </div>
                        <div class="modal-section">
                            <p>Moment clé du recrutement, l'entretien d'embauche est un moment d'échange privilégié entre le recruteur et le candidat. Pour faire la différence, il est primordial de savoir mener d'une main de maitre cet échange. </p>
                            <p>Jean-Jacques Bois, entrepreneur, ingénieur d'affaire et président de l'INSA Alumni Toulouse se propose de vous perfectionner dans l'exercice</p>
                        </div>
                        <div style="text-align: center">Atelier <i>by</i> IAT</div>
                        <br />
                        </div>
                    </div>
                </td>
            </tr>

            <tr>    
                <th>15:30-16:30</th>
                <td>Atelier by IAT</td>
                <td><b>L’utilisation des réseaux sociaux pour décrocher un job </b></td>
                <td><span class="btn red-button" id="details" onclick="$('#show-dialog4').modal();">Détails</span>
                
                    <div class="modal" id="show-dialog4">
                                           
                        <div class="modal-details">
                        <div class="modal-section">
                            <h3>IAT : L’utilisation des réseaux sociaux pour décrocher un job </h3>
                            <small style=color:#999">
                            <i class="fa fa-clock-o"></i>Entre 10:30 et 12:00</small>
                        </div>
                        <div class="modal-section">
                            <p>Les réseaux sociaux font partie de notre vie quotidienne, mais savez-vous vraiment les exploiter ? Aujourd'hui, ils sont devenus une plateforme exceptionnelle pour décrocher un emploi, si vous savez correctement les exploiter.</p>
                            <p>L'IAT vous propose de vous former sur ce sujet grâce à Laurence Bertona, coach et formatrice professionnelle, afin de trouver le job de vos rêves grâce aux réseaux sociaux.</p>
                        </div>
                        <div style="text-align: center">Atelier <i>by</i> IAT</div>
                        <br />
                        </div>
                    </div>
                </td>
            </tr>


            <tr>
                <td style="border-top: none;" colspan="5"><br /><h4>Vers la vie active</h4></td>
            </tr>

            <tr>    
                <th>10:30-12:00</th>
                <td>Atelier by PPI</td>
                <td><b>Les méthodes Agiles</b></td>
                <td><span class="btn red-button" id="details" onclick="$('#show-dialog3').modal();">Détails</span>
                
                    <div class="modal" id="show-dialog3">
                                           
                        <div class="modal-details">
                        <div class="modal-section">
                            <h3>PPI : Les méthodes Agiles</h3>
                            <small style=color:#999">
                            <i class="fa fa-clock-o"></i>Entre 10:30 et 12:00</small>
                        </div>
                        <div class="modal-section">
                            <p>Les pratiques agiles mettent en avant la collaboration entre des équipes autoorganisées et pluridisciplinaires et leurs clients. Elles s'appuient sur l'utilisation d'un cadre méthodologique léger mais suffisant centré sur l'humain et la communication. Elles préconisent une planification adaptative, un développement évolutif, une livraison précoce et une amélioration continue, et elles encouragent des réponses flexibles au changement.</p>
                            <p>Cet atelier, organisé par le PPI propose une initiation à ces méthodes, par un professionnel reconnu.</p>
                        </div>
                        <div style="text-align: center">Atelier <i>by</i> PPI</div>
                        <br />
                        </div>
                    </div>
                </td>
            </tr>



            <tr>    
                <th>15h-16h</th>
                <td>Atelier by JIS</td>
                <td><b>Transition numérique dans les entreprises</b></td>
                <td><span class="btn red-button" id="details" onclick="$('#show-dialog5').modal();">Détails</span>
                
                    <div class="modal" id="show-dialog5">  
                        <div class="modal-details">
                        <div class="modal-section">
                            <h3>JIS : Transition numérique dans les entreprises</h3>
                            <small style=color:#999">
                            <i class="fa fa-clock-o"></i> 15h-16h
                            </small>
                        </div>
                        <div class="modal-section">
                            <p>L’informatique est souvent perçue en entreprise comme un centre de coût et non comme un centre de valeur. Pourtant, le numérique est un levier de croissance. Encore faut-il savoir aborder les choses de la bonne manière. Durant ce moment, découvrez une méthode pour aborder plus sereinement un projet de transformation numérique. De la stratégie aux outils, une méthode qui permet d’aborder le sujet de manière complète.</p>
                            
                        </div>
                        <div style="text-align: center">Atelier <i>by</i> JIS</div>
                        <br />
                        </div>
                    </div>
                </td>
            </tr>

            <tr>    
                <th>13:30-15:00</th>
                <td>Atelier by PPI</td>
                <td><b>Prise de parole en public</b></td>
                <td><span class="btn red-button" id="details" onclick="$('#show-dialog6').modal();">Détails</span>
                
                    <div class="modal" id="show-dialog6">
                                           
                        <div class="modal-details">
                        <div class="modal-section">
                            <h3>PPI : Prise de parole en public</h3>
                            <small style=color:#999">
                            <i class="fa fa-clock-o"> 13:30-15:00</i></small>
                        </div>
                        <div class="modal-section">
                            <p>Prendre la parole en public est un art et c’est aussi une pratique avec des techniques.
                                A la recherche de la baguette magique, nous avons tous voulu posséder des « trucs » pour renforcer l’impact de notre communication orale et de nos prises de paroles.                                
                            </p>
                            <p>Cet atelier, organisé par le PPI, vous livre tous ses secrets !
                            </p>
                        </div>
                        <div style="text-align: center">Atelier <i>by</i> PPI</div>
                        <br />
                        </div>
                    </div>
                </td>
            </tr>

            <tr>    
                <th>13:30-15:00</th>
                <td>Atelier by PPI</td>
                <td><b>Management/Affirmer son leadership</b></td>
                <td><span class="btn red-button" id="details" onclick="$('#show-dialog7').modal();">Détails</span>
                
                    <div class="modal" id="show-dialog7">
                                           
                        <div class="modal-details">
                        <div class="modal-section">
                            <h3>PPI : Management/Affirmer son leadership</h3>
                            <small style=color:#999">
                            <i class="fa fa-clock-o"></i> 13:30-15:00</small>
                        </div>
                        <div class="modal-section">
                            <p>Envie de savoir mener vos équipes ? Vos collègues ? Manager une équipe et s'affirmer comme un leader est une affaire complexe !
                            </p>
                            <p>Le PPI vous propose ici un atelier afin de vous donner les tips pour réussir dans cette branche et faire de vous un vrai leader !</p>

                        </div>
                        <div style="text-align: center">Atelier <i>by</i> PPI</div>
                        <br />
                        </div>
                    </div>
                </td>
            </tr>
                
                
        </table>        




        <!-- A UTILISER POUR AFFICHER LES THEMES RENSEIGNES DANS "paramètres de contenu" PARTIE ADMIN DU SITE
        <table class="table table-hover" style="font-size: 90%">
        <% theme = [];
        oneLineLinkedin = false;
        workshops.forEach(function(workshop) {
            if (!theme.includes(workshop.theme)) {%>
                <tr>
                    <td style="border-top: none;" colspan="5"><br /><h4><%=workshop.theme%></h4></td>
                </tr>
                <%theme.push(workshop.theme);
                workshops.forEach(function(workshopThemed) {
                    if (workshopThemed.theme == workshop.theme) {
                        if (workshopThemed.name == "Social Jobbing : Faire de votre profil LinkedIn une arme pour être recruté") { 
                            if (!oneLineLinkedin) {
                                oneLineLinkedin = true; %>
                                <tr>    
                                    <th>9:00-12:00<br />13:30-16:30</th>
                                    <td>Atelier by <%=workshopThemed.organizer%></td>
                                    <td><b>Social Jobbing : Faire de votre profil LinkedIn<br />une arme pour être recruté</b><br /><small>(ateliers par tranche de 20min)</small></td>
                                    <td>(<%=workshopThemed.location%>)</td>
                                    <td>
                                        <span class="btn red-button" id="details-<%=workshopThemed.abbreviation%>"
                                            onclick="$('#show-dialog-<%=workshopThemed.abbreviation%>').modal();">Détails</span>
                                        <div class="modal" id="show-dialog-<%=workshopThemed.abbreviation%>">
                                           
                                            <div class="modal-details">
                                            <div class="modal-section">
                                                <h3><%= workshopThemed.name%></h3>
                                                <small style=color:#999">
                                                <i class="fa fa-map-marker"></i>&nbsp;En <%= workshopThemed.location%>
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <%= workshopThemed.places%> places disponibles
                                                <br />
                                                <i class="fa fa-clock-o"></i>&nbsp;Entre 9:00 et 12:00, et 
                                                13:30 et 16:30, toutes les 20 minutes (voir page d'inscriptions)
                                                </small>
                                            </div>
                                            <div class="modal-section">
                                                <p><%- workshopThemed.description%></p>
                                            </div>
                                            <div style="text-align: center">Atelier <i>by</i> <%=workshopThemed.organizer%></div>
                                            <br />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            <% }
                        } else { %>
                        <tr>
                            <th><%=workshopThemed.startHour%>-<%=workshopThemed.endHour%></th>
                            <td>Atelier by <%=workshopThemed.organizer%></td>
                            <td><b><%=workshopThemed.name%></b></td>
                            <td>(<%=workshopThemed.location%>)</td>
                            <td>
                                <span class="btn red-button" id="details-<%=workshopThemed.abbreviation%>"
                                    onclick="$('#show-dialog-<%=workshopThemed.abbreviation%>').modal();">Détails</span>
                                <div class="modal" id="show-dialog-<%=workshopThemed.abbreviation%>">
                                    
                                    <div class="modal-details">
                                    <div class="modal-section">
                                        <h3><%= workshopThemed.name%></h3>
                                        <small style=color:#999">
                                        <i class="fa fa-map-marker"></i>&nbsp;En <%= workshopThemed.location%>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <%= workshopThemed.places%> places disponibles
                                        <br />
                                        <i class="fa fa-clock-o"></i>&nbsp;De <%= workshopThemed.startHour%> à <%= workshopThemed.endHour%>
                                        </small>
                                    </div>
                                    <div class="modal-section">
                                        <p><%- workshopThemed.description%></p>
                                    </div>
                                    <div style="text-align: center">Atelier <i>by</i> <%=workshopThemed.organizer%></div>
                                    
                                    </div>
                                </div>
                            </td>
                        </tr>
                <%}}})%>
            <%}
        });%>
    </table>
-->











    </div>
    <!--
    <br />
    <div style="color:#999">
        <p>
            Les thèmes des ateliers ​de l’édition 2018 du Forum ​<i>by</i>​ INSA :
        </p>
            <li><b>9h-10h</b> - Atelier by IAT - “Les entretiens de recrutement” (salle STPI 106) </li>
            <li><b>10h-11h20</b> - Atelier by JIS - "Les clés de la prise de parole en public" (salle STPI 107)</li>
            <li><b>10h-11h</b> - Atelier by IAT - “La lettre de motivation” (salle STPI 106) </li>
            <li><b>11h-12h</b> - Atelier by IAT - “Le CV” (salle STPI 106)</li>
            <li><b>14h-15h</b> - Atelier by JIS - "S’inspirer de ses valeurs pour entreprendre" (salle STPI 107)</li>
            <li><b>15h30-17h</b> - Atelier by JIS - “Entrepreneuriat : les étapes pour bien se lancer” (salle STPI 107)</li>
            <li><b>10h-13h, 14h-17h</b> (par créneaux de 20 minutes) - Ateliers by PPI - “Social Jobbing : Faire de votre profil LinkedIn une arme pour être recruté” (salle STPI 105)</li>    
        </ul>
        <p>
            Et en complément :
        </p>
        <ul>
            <li><b>Jeudi 11 octobre de 14h à 17h30</b> - Atelier by IAT - “Relecture de CV” (salle STPI 10)</li>
            <li><b>Jeudi 18 octobre de 12h à 14h</b> - Atelier by IAT - “Préparation au SJD” (salle STPI 106)</li>
            <li><b>Jeudi 18 octobre de 14h à 17h30</b> - Atelier by IAT - “Relecture de CV” (salle STPI 10)</li>
            <li><b>Vendredi 19 octobre de 12h à 14h</b> - Atelier by IAT - “Préparation au SJD” (salle STPI 106)</li>
        </ul>
    </div>
    -->
</div>
